.movie-collection {

  display: grid;
  grid-template-rows: 1fr 5fr;
  margin-bottom: 30px;

}

.movie-collection h1 {
  align-self: center;
}

.movies {
  grid-row: 2 / 3;
  display: inline-flex;
  width: 100vw;
  overflow-y: scroll;
  margin-top: 0;
  margin-left: 30px;
  margin-right: 30px;

}
