
form {
  display: grid;
  flex-direction:row;
  padding-top: 2%;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3%;
}

.search-box {

  background-color: #f1f1f1;
  text-align:left;
  border-color: grey;
  justify-content: center;
  width: 50vh;
  border: 1px solid grey;
  font-size: 1.3em;

}

.search {
  width: 9%;
  background: #1aa79a;
  color: white;
  cursor: pointer;
  border-color: grey;
}

i.fa.fa-search {
  width: 100%;
  height: 100%;
}
