.App {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  display: grid;
  grid-template-rows: 1fr 8.5fr 0.5fr;
  height: 100vh;
  color: #415058;

}


.header {
  background-color: #1aa79a;
  padding-top: 0px;
  color: white;
  border: solid #1aa79a;
  grid-row: 1 / 2;
}

.main {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 3fr 5fr;
  max-height: 85vh

}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-top: 0;
  margin-bottom: 5px;
  border-top: solid 2px #aaa;
}

.App-title {
  font-size: 2.5em;
  align-content: center;
  padding-bottom: 2px;
}

ul {
  list-style: none;
}

footer {
  font-family: 'Dosis', sans-serif;
  color: #415058;
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
}
