.App {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  display: grid;
  grid-template-rows: 1fr 8.5fr 0.5fr;
  height: 100vh;

}


.App-header {
  background-color: #1aa79a;
  max-height: 10vh;
  padding-top: 0px;
  color: white;
  border: solid #1aa79a;
}

.App-title {
  font-size: 2em;
  align-content: center;
  padding-bottom: 2px;
}

ul {
  list-style: none;
}

footer {
  font-family: 'Dosis', sans-serif;
  color: #415058

}
